<div class="container-fluid">
    <div class="row">
        <div class="col-12 ">
            <h5 class="text-center" style="font-weight: bold;">
                New car insurance
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col p-2">
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-start align-items-center">
            Name:
        </div>
        <div class="col-8 d-flex justify-content-center">
            <input class="form-control h-75 m-0">
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-start align-items-center">
            Family name:
        </div>
        <div class="col-8 d-flex justify-content-center">
            <input class="form-control h-75 m-0">
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-start align-items-center">
            Date:
        </div>
        <div class="col-8 d-flex justify-content-center">
            <input class="form-control h-75 m-0">
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-start align-items-center">
            Remarks:
        </div>
        <div class="col-8 d-flex justify-content-center">
            <input class="form-control h-75 m-0">
        </div>
    </div>
    <div class="row">
        <div class="col p-2">
        </div>
    </div>
    <div class="row ">
        <div class="col-6 d-flex justify-content-center">
            <button type="button" (click)="backtoMainMenu()" class="btn btn-primary w-100">
                Back
            </button>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <button type="button"  class="btn btn-primary w-100">
                Save
            </button>
        </div>
    </div>
</div>