<div class="container-fluid">
  <div class="row">
    <div class="col-4 mx-auto my-5 mx-auto p-1" style="border: 1px solid var(--blue);">
      <div class="row d-flex ">
        <div class="col-12 mx-auto ">
          <h1 class="text-primary text-center">
            Insurance company
          </h1>
        </div>
      </div>
      <div class="row p-0 m-0">
        <div class="col-12">
          <div class=" mx-4 my-3 p-2">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
      <div class="row p-0 m-0">
        <div class="col-12 d-flex">
      
          <div class="flex-grow-1">

          </div>
          <div class="flex-shrink-1 " style="font-size: x-small;">
            <p class="mx-auto my-0" style="text-align: center;">
              Vesrion 1.2
            </p> 
            <p class="mx-auto my-0"  style="text-align: center;">
              Desgined & Developed by:
            </p>
            <p class="mx-auto my-0"  style="text-align: center;">
              Simaan Saada and Majd Rezik
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>